---
import { TextSection } from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';

const seo = {
  title: 'Community | Join the Community',
  description: `Community enables you to connect with other users, ask questions, and share your knowledge.`,
};
---

<Layout seo={seo}>
  <TextSection narrow>
    <h1>Community</h1>

    <p>This is the future page for our joining the community.</p>

  </TextSection>
</Layout>