---
import { TextSection } from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';

const seo = {
  title: 'Conferences | Where we will be',
  description: `Information about the conferences we will be attending.`,
};
---

<Layout seo={seo}>
  <TextSection narrow>
    <h1>Conferences</h1>

    <p>This is the future page for our joining the conferences.</p>

  </TextSection>
</Layout>