---
import { TextSection } from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';

const seo = {
  title: `Training | Need Training?`,
  description: `We are Microsoft Certified Trainers.`,
};
---

<Layout seo={seo}>
  <TextSection narrow>
    <h1>Knowledge Is Power!</h1>

    <p>This is the future page for our training offers</p>

    <h2>Training</h2>

    <p>Our future page for training information</p>


    <h2>Videos</h2>

    <p>
        Visit our YouTube channel for our training videos.
    </p>


  </TextSection>
</Layout>